/* Base */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
    color: #F9FAF8;
}

/* Navbar (same feel as index) */

.navbar {
    display: flex;
    align-items: center;
    padding: 20px 100px;
    background-color: #1F2937;
}

.logoimg {
    width: 200px;
    height: auto;
    margin-right: 10px;
}

.logo {
    font-size: 28px;
    font-weight: 700;
    margin-left: 40%;
}

.headlinks {
    margin-left: auto;
}

.headlinks a {
    text-decoration: none;
    color: #E5E7EB;
    margin-left: 20px;
    font-size: 18px;
}

/* About Section */

.about {
    display: flex;
    justify-content: center;
    padding: 100px 20px;
}

.about-inner {
    max-width: 750px;
    text-align: center;
}

.about-inner h2 {
    font-size: 80px;
    margin-bottom: 47px;
}

.about-inner p {
    font-size: 30px;
    line-height: 1.8;
    opacity: 0.85;
    margin-bottom: 20px;
}

/* Mobile */

@media (max-width: 768px) {
    .navbar {
        padding: 20px;
    }

    .about {
        padding: 70px 20px;
    }

    .about-inner h2 {
        font-size: 32px;
    }
}
