body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

.container {
    display: flex;
    flex-direction: column;
}

/* Navbar Part */

.navbar {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 20px 0px 20px 100px;
    align-items: center;
}


.headlinks {
    display: flex;
    margin-left: auto;
    padding: 10px 100px 0px 0px; 
}

.headlinks a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', arial;

}

a {

    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', arial;
}

.hero {
    display: flex;
    align-items: center;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 90px;
}

.hero-cta {

    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;

}

.hero-cta p {
    font-family: 'Roboto', arial;
    opacity: 0.7;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
    font-family: 'Roboto', arial;
}
