body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

.container {
    display: flex;
    flex-direction: column;
    border-bottom: rgb(180, 179, 179) 10px solid;;
}

/* Navbar Part */

.navbar {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 20px 0px 20px 100px;
    align-items: center;
}

.logoimg {
    width: 200px;
    height: auto;
    margin-right: 10px;
}

.logo {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
}

.headlinks {
    display: flex;
    margin-left: auto;
    padding: 10px 100px 0px 0px; 
}

.headlinks a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', arial;

}

a {

    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', arial;
}

/* Hero Section */

.hero {
    display: flex;
    align-items: center;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 90px;
}

.hero-cta {

    flex-basis: 400px;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;

}

.hero-cta p {
    font-size: 20px;
    font-family: 'Roboto', arial;
    opacity: 0.7;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
    font-family: 'Roboto', arial;
}

.heroimg {
    width: 800px;
    max-width: 100%;
    display: block;
    height: auto;
    border-radius: 10px;
    margin-left: 8%;
}

/* phone for img */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .hero-cta {
        margin-right: 0;
        align-items: center;
        text-align: center;
    }

    .heroimg {
        margin-top: 30px;
    }
}





.btn {
    background-color: #3B82F6;
    color: #F9FAF8;
    border: none;
    padding: 30px 30px;
    font-size: 35px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;

}

.note {
    font-size: 25px;
    color: #E5E7EB;
    margin-top: 10px;
}

/* Content Section */

.services {
    background-color: #cccaca;
    padding: 80px 40px;
    text-align: center;
}

.services-title {
    font-size: 36px;
    margin-bottom: 40px;
    color: #1F2937;
}

.services-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.service-card {
    background-color: #a5aa9f;
    padding: 30px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.service-card h3 {
    margin-bottom: 10px;
    color: #1F2937;
}

.service-card p {
    color: #555;
    font-size: 16px;
}


/* Footer Section */

.locationcont {
    background-color: #1F2937;
    padding: 60px 40px;
    text-align: center;
}
.locheader {
    background-color: #595d64;
    font-weight: bold;
    color: #F9FAF8;
    padding: 40px;
    text-align: center;
}

.locinfo {
    font-size: 40px;
    color: #E5E7EB;
    margin-top: 10px;
}

.locimg {
    width: 600px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0 5px 15px rgba(226, 200, 200, 0.1);
}

@media (max-width: 768px) {
    .locationcont {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

     .locinfo {
        margin-right: 0;
        align-items: center;
        text-align: center;
    }

    .locimg {
        margin-top: 30px;
    }
}
